@charset "utf-8";
/* CSS Document */
#login{width:300px;}
#topic{width:300px;padding-top:20px;}
#topic-top{width:300px;height:40px;font-size:20px;font-weight:600px;font-family:"黑体";}
#topic-bottom div{margin:0 auto;padding-bottom:5px;border-bottom:1px #CCC solid;width:250px;height:30px;text-align:center;margin-bottom:5px;}
#topic-bottom div a{text-decoration:none;font-size:18px;font-family:"黑体";color:#000;}
#topic-bottom div span{color:#666;}
#hotlog{width:833px;height:300px;}
#hottopic{width:833px;height:300px;}

