@charset "utf-8";
/* CSS Document */
body{width:1160px;margin:0 auto;background-color:rgb(248,244,221);}
#banner{width:1160px;}
#content{width:1160px;margin-bottom:20px;}
#bottom{background-color:rgba(204,204,204,0.3);width:1160px;height:70px;text-align:center;font-weight:bold;padding-top:20px;}s

